body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Style the logo */
.home-logo {
  height: 100px;
}

/* Style the container */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure the container takes the full height of the viewport */
}
.homeDm {
  background-color: #000000;
  color: #ffffff;
}
